* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.copy_link {
    background-color: #272822;
    font-size: 14px;
    align-items: center;
    align-content: center;
    padding-inline: 15px;
    border-left: 1px dashed gray;
    border-bottom: 1px dashed gray;
    text-wrap: nowrap;
    color: white;
    cursor: pointer;
}

.nclient{
    background-color: #272822;
    color: gray;
    font-size: 14px;
    align-items: center;
    align-content: center;
    text-wrap: nowrap;
    padding-inline: 15px;
    border-left: 1px dashed gray;
    border-bottom: 1px dashed gray;
}
#codeid {
    outline: none;
    background-color: #272822;
    color: #f8f8f2;
    padding: 15px;
    border: none;
    outline: none;
    width: 100%;
    border-bottom: 1px dashed gray;
}

#code {
    font-family: "Consolas", monospace;
    background-color: #272822;
    color: #f8f8f2;
    padding: 15px;
    line-height: 1.5;
    border: none;
    outline: none;
    width: 100%;
    flex: 1;
    resize: none;
}

.dfr {
    display: flex;
    flex-direction: row;
}